In [1]:
import pandas as pd
big_df = pd.read_csv("utd19_u.csv")

/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/468787979.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  big_df = pd.read_csv("utd19_u.csv")

In [3]:
big_df

,day,interval,detid,flow,occ,error,city,speed
0,2017-05-06,0,06.X-2li,12.0,0.000000,1.0,augsburg,NaN
1,2017-05-06,300,06.X-2li,12.0,0.000000,1.0,augsburg,NaN
2,2017-05-06,600,06.X-2li,12.0,0.000000,1.0,augsburg,NaN
3,2017-05-06,900,06.X-2li,16.0,0.000000,1.0,augsburg,NaN
4,2017-05-06,1200,06.X-2li,16.0,0.000000,1.0,augsburg,NaN
...,...,...,...,...,...,...,...,...
134380366,2015-11-01,85500,K8D20,120.0,0.015556,0.0,zurich,NaN
134380367,2015-11-01,85680,K8D20,120.0,0.017778,0.0,zurich,NaN
134380368,2015-11-01,85860,K8D20,120.0,0.014444,0.0,zurich,NaN
134380369,2015-11-01,86040,K8D20,200.0,0.028333,0.0,zurich,NaN
134380370,2015-11-01,86220,K8D20,180.0,0.024444,0.0,zurich,NaN

In [4]:
import numpy as np
cities = np.unique(list(big_df["city"]))

In [5]:
cities

array(['augsburg', 'basel', 'bern', 'birmingham', 'bolton', 'bordeaux',
       'bremen', 'cagliari', 'constance', 'darmstadt', 'essen',
       'frankfurt', 'graz', 'groningen', 'hamburg', 'innsbruck', 'kassel',
       'london', 'losangeles', 'luzern', 'madrid', 'manchester',
       'marseille', 'melbourne', 'munich', 'paris', 'rotterdam',
       'santander', 'speyer', 'strasbourg', 'stuttgart', 'taipeh',
       'torino', 'toronto', 'toulouse', 'utrecht', 'vilnius', 'wolfsburg',
       'zurich'], dtype='<U10')

In [6]:
coords = pd.read_csv("detectors_public.csv")
coords

,detid,length,pos,fclass,road,limit,citycode,lanes,linkid,long,lat
0,U1-52G,0.196037,0.005512,secondary,Gögginger Straße,50,augsburg,1.0,72.0,10.889553,48.359957
1,U1-51G,0.130039,0.004013,secondary,Gögginger Straße,50,augsburg,1.0,73.0,10.889601,48.359945
2,U1-52L,0.155863,0.022228,secondary,Gögginger Straße,50,augsburg,1.0,70.0,10.889356,48.359876
3,U1-51L,0.197675,0.021889,secondary,Gögginger Straße,50,augsburg,1.0,71.0,10.889396,48.359862
4,U1-62,0.065183,0.024465,secondary,Rosenaustraße,50,augsburg,1.0,68.0,10.889361,48.360578
...,...,...,...,...,...,...,...,...,...,...,...
23621,K419D17,0.507890,0.073105,secondary,Gutstrasse,50,zurich,1.0,1199.0,8.499722,47.376703
23622,K426D14,0.591131,0.579361,primary,Duttweilerbrücke,0,zurich,1.0,1200.0,8.511575,47.389545
23623,K426D11,0.650268,0.592645,primary,Duttweilerbrücke,50,zurich,1.0,1201.0,8.511730,47.389532
23624,K437D17,0.301829,0.005194,tertiary,Europabrücke,50,zurich,1.0,1203.0,8.493002,47.393101
23625,K38D11,0.176828,0.152222,tertiary,Badenerstrasse,50,zurich,1.0,1207.0,8.512525,47.377435

In [7]:
big_df['detid'] = big_df['detid'].astype(object)
coords['detid'] = coords['detid'].astype(object)

In [9]:
df = big_df.merge(coords, on="detid", how = "left")
df

,day,interval,detid,flow,occ,error,city,speed,length,pos,fclass,road,limit,citycode,lanes,linkid,long,lat
0,2017-05-06,0,06.X-2li,12.0,0.000000,1.0,augsburg,NaN,0.112003,0.003423,tertiary,Reichenberger Straße,30,augsburg,1.0,737.0,10.929492,48.363655
1,2017-05-06,300,06.X-2li,12.0,0.000000,1.0,augsburg,NaN,0.112003,0.003423,tertiary,Reichenberger Straße,30,augsburg,1.0,737.0,10.929492,48.363655
2,2017-05-06,600,06.X-2li,12.0,0.000000,1.0,augsburg,NaN,0.112003,0.003423,tertiary,Reichenberger Straße,30,augsburg,1.0,737.0,10.929492,48.363655
3,2017-05-06,900,06.X-2li,16.0,0.000000,1.0,augsburg,NaN,0.112003,0.003423,tertiary,Reichenberger Straße,30,augsburg,1.0,737.0,10.929492,48.363655
4,2017-05-06,1200,06.X-2li,16.0,0.000000,1.0,augsburg,NaN,0.112003,0.003423,tertiary,Reichenberger Straße,30,augsburg,1.0,737.0,10.929492,48.363655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135302537,2015-11-01,85500,K8D20,120.0,0.015556,0.0,zurich,NaN,0.235968,0.205066,primary,Seebahnstrasse,50,zurich,1.0,199.0,8.521908,47.372198
135302538,2015-11-01,85680,K8D20,120.0,0.017778,0.0,zurich,NaN,0.235968,0.205066,primary,Seebahnstrasse,50,zurich,1.0,199.0,8.521908,47.372198
135302539,2015-11-01,85860,K8D20,120.0,0.014444,0.0,zurich,NaN,0.235968,0.205066,primary,Seebahnstrasse,50,zurich,1.0,199.0,8.521908,47.372198
135302540,2015-11-01,86040,K8D20,200.0,0.028333,0.0,zurich,NaN,0.235968,0.205066,primary,Seebahnstrasse,50,zurich,1.0,199.0,8.521908,47.372198
135302541,2015-11-01,86220,K8D20,180.0,0.024444,0.0,zurich,NaN,0.235968,0.205066,primary,Seebahnstrasse,50,zurich,1.0,199.0,8.521908,47.372198

In [19]:
for city_name in cities:
    df_city = df[df["city"]==city_name]
    df_city = df_city.groupby(by=["detid"]).mean()
    df_city.to_csv(city_name+"_traffic_points.csv")

/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/3864689894.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()

In [21]:
cities = ['augsburg', 'basel', 'bern', 'birmingham', 'bolton', 'bordeaux',
       'bremen', 'cagliari', 'constance', 'darmstadt', 'essen',
       'frankfurt', 'graz', 'groningen', 'hamburg', 'innsbruck', 'kassel',
       'london', 'losangeles', 'luzern', 'madrid', 'manchester',
       'marseille', 'melbourne', 'munich', 'paris', 'rotterdam',
       'santander', 'speyer', 'strasbourg', 'stuttgart', 'taipeh',
       'torino', 'toronto', 'toulouse', 'utrecht', 'vilnius', 'wolfsburg',
       'zurich']


dd = {}
for city in cities:
    df_city = df[df["city"]==city]
    df_city = df_city.groupby(by=["detid"]).mean()
    dd[city] = len(df_city)

dd

/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()
/var/folders/y5/jv70qdm513vdb8ydnt2p9zpr0000gn/T/ipykernel_85972/2209538050.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_city = df_city.groupby(by=["detid"]).mean()